body > header {
  display: flex;
  flex-direction: column;
}

.nav-header-button {
  display: none;
}

.nav-header {
  display: block;
  position: unset;
  background-color: unset;
}

.nav-header::after {
  content: '';
  position: unset;
  top: unset;
  right: unset;
  width: unset;
  border: unset;
}

.nav-header-list {
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  padding-right: 0.2rem;
  height: unset;
  font-size: 1.1rem;
}

.nav-header-list .nav-link {
  color: var(--color-neutral-white);
}

.nav-header-list .nav-link:hover {
  color: var(--color-neutral-white);
  border-bottom: 3px solid var(--color-neutral-white);
}

.link-button {
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-extra-dark-mute-blue);
}

.link-button:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
  color: var(--color-neutral-white);
}

@media (min-width: 576px) {
  body > header {
    flex-direction: row;
  }

  .nav-header {
    display: block;
    position: unset;
    background-color: unset;
  }

  .nav-header-list {
    flex-direction: row;
    gap: clamp(0.5em, 4vw, 3em);
  }
}